/*global behavior: all portlets are in float*/
.portlets-masonry .portlet,
.portlets-masonry .portletStaticText{
  float: left;
  font-size: 100%;
  /*Fix for wysiwyg img*/

}
.portlets-masonry .portlet img{
  max-width: 100%;
}
.portlets-masonry .fixed-width-220 .portlet{
  width: 220px;
  margin: 10px;
}
.portlets-masonry .min-220-max-300 .portlet {
  min-width: 220px;
  max-width: 300px;
  margin: 10px;
}
.portlets-masonry .full-width .portlet {
  width: 100%!important;
  margin: 0;
}
