/*global behavior: all portlets are in float*/
#portlets-above .portlet,
#portlets-below .portlet {
  float: left;
  font-size: 100%;
  /*Fix for wysiwyg img*/

}
#portlets-above .portlet img,
#portlets-below .portlet img {
  max-width: 100%;
}
#portlets-above .fixed-width-220 .portlet,
#portlets-below .fixed-width-220 .portlet {
  width: 220px;
  margin: 10px;
}
#portlets-above .min-220-max-300 .portlet,
#portlets-below .min-220-max-300 .portlet {
  min-width: 220px;
  max-width: 300px;
  margin: 10px;
}
#portlets-above .full-width .portlet,
#portlets-below .full-width .portlet {
  width: 100%!important;
  margin: 0;
}
#portlets-above .width-free .portlet,
#portlets-below .width-free .portlet {
  margin: 0;
}
